<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rate</title>
</head>
<body>
    <h1>Exchage Rates</h1>

        <h3>Base rate: {{ baseRate }}</h3>

        <h3>Date: {{ date }}</h3>

        <table>
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                {{#each rates}}
                    <tr>
                        <td>{{ this.currency }}</td>
                        <td>{{ this.rate }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
</body>
</html>